@import 'colors.scss';

@font-face {
  font-family: 'Bentham Regular';
  font-style: normal;
  font-weight: normal;
  src: url('assets/Bentham Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Carnevalee Freakshow';
  font-style: normal;
  font-weight: normal;
  src: url('assets/Carnevalee Freakshow.ttf') format('truetype');
}

:root {
  // NOTE: these set in geometry.ts
  --map-clip-x: 0;
  --map-clip-y: 0;
  --map-clip-cx: 0;
  --map-clip-cy: 0;
  --map-cxNominal: 0;
  --map-cyNominal: 0;
  --map-cxTile: 0;
  --map-cyTile: 0;
  --map-numHGrids: 0;
  --map-numVGrids: 0;
  --map-numXTiles: 0;
  --map-numYTiles: 0;
  // NOTE: these apply to the thumbnail
  --thumbnail-clip-x: 0;
  --thumbnail-clip-y: 0;
  --thumbnail-clip-cx: 0;
  --thumbnail-clip-cy: 0;
  --thumbnail-cxNominal: 0;
  --thumbnail-cyNominal: 0;
  --thumbnail-cxTile: 0;
  --thumbnail-cyTile: 0;
  --thumbnail-numHGrids: 0;
  --thumbnail-numVGrids: 0;
  --thumbnail-numXTiles: 0;
  --thumbnail-numYTiles: 0;
  // land use color shading
  // @see https://www.gismanual.com/style/ColorConventions.pdf
  --shade-u11: var(--rgb-brown-300);
  --shade-u12: var(--rgb-brown-500);
  --shade-u17: var(--rgb-red-200);
  --shade-u19: var(--rgb-yellow-200);
  --shade-u22: var(--rgb-orange-200);
  --shade-u26: var(--rgb-purple-200);
  --shade-u27: var(--rgb-gray-300);
  --shade-u33: var(--rgb-blue-200);
  --shade-u58: var(--rgb-teal-200);
  --shade-u100: 190, 219, 75; // #BEDBAF
  --shade-u101: 170, 204, 155; // #aacc9b
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

body {
  background-color: white;
  display: grid;
  height: 100%;
  place-content: center;
  user-select: none;
  width: 100%;
}

html {
  border: 0;
  height: 100%;
  width: 100%;
}

map-root {
  background-color: white;
  display: grid;
  grid-template-areas:
    'map side-matter'
    'map side-matter';
  overflow: auto;

  &.dragging {
    cursor: grabbing;
  }

  &.printing {
    cursor: wait;
    overflow: unset;
  }

  aside {
    color: var(--mat-gray-900);
    grid-area: side-matter;
    padding: calc(var(--map-cyNominal) / 100) calc(var(--map-cxNominal) / 100)
      calc(var(--map-cyNominal) / 100) 0;

    map-legend {
      align-content: start;
      display: grid;
      font-family: 'Bentham Regular', sans-serif;
      font-size: 32px;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto 1fr;
      height: 100%;
      justify-content: center;
      row-gap: 96px;
      width: 100%;

      article.grids {
        display: grid;
        grid-column-gap: 64px;
        grid-row-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;

        figure {
          aspect-ratio: 1 / 1;
          background-color: var(--mat-gray-800);
          border: 1px solid var(--mat-gray-800);
          box-sizing: content-box;
          display: grid;
          font-size: 16px;
          grid-gap: 1px;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          width: 100%;

          div {
            background-color: white;
            display: grid;
            place-content: center;
            text-align: center;
          }
        }

        figcaption {
          font-size: 24px;
          font-weight: bold;
          text-align: center;
        }

        h2 {
          grid-column: 1 / 4;
        }
      }

      figure.chart {
        aspect-ratio: 4 / 3;
        display: block;
        width: 100%;
      }

      footer {
        align-content: end;
        display: grid;
        font-size: 16px;
        text-align: center;
      }

      header {
        font-family: 'Carnevalee Freakshow', sans-serif;
        text-align: center;

        h1 {
          font-size: 96px;
          font-weight: normal;
        }

        h2 {
          font-size: 64px;
          font-weight: normal;
        }
      }

      map-thumbnail {
        display: block;
        height: calc(var(--thumbnail-clip-cy));
        overflow: hidden;
        position: relative;
        width: calc(var(--thumbnail-clip-cx));

        figure {
          display: block;
          height: calc(var(--thumbnail-cyNominal));
          pointer-events: none;
          position: absolute;
          transform: translate(
            calc(var(--thumbnail-clip-x) * -1),
            calc(var(--thumbnail-clip-y) * -1)
          );
          width: calc(var(--thumbnail-cxNominal));

          map-boundary,
          map-defs,
          map-grid,
          map-street,
          map-tiles,
          map-topo,
          map-washington {
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
          }

          map-boundary,
          map-grid,
          map-washington {
            svg {
              height: 100%;
              width: 100%;
            }
          }

          map-boundary {
            fill: none;
            stroke: var(--mat-gray-800);
            stroke-dasharray: 4;
            stroke-width: 3;
          }

          map-grid {
            g path {
              fill: none;
              stroke: var(--mat-gray-800);
              stroke-width: 0.25;
            }
          }

          map-tile {
            display: inline-block;
            height: calc(var(--thumbnail-cyTile));
            position: relative;
            vertical-align: top;
            width: calc(var(--thumbnail-cxTile));

            canvas {
              height: var(--thumbnail-cyTile);
              position: absolute;
              visibility: hidden;
              width: var(--thumbnail-cxTile);
            }

            img {
              height: 100%;
              position: absolute;
              width: 100%;
            }

            img.inside {
              filter: none;
            }

            img.outside {
              filter: grayscale(1);
            }
          }

          map-washington {
            fill: rgba(var(--rgb-teal-900), 0.1);
            stroke: rgba(var(--rgb-teal-900), 0.5);
            stroke-width: 2;
          }
        }
      }

      table.usage {
        border-collapse: collapse;
        width: 100%;

        td {
          padding: 0.25rem;
        }

        td.desc {
          overflow: hidden;
          position: relative;
          width: 100%;

          &::after {
            content: '........................................................'
              '........................................................'
              '........................................................'
              '........................................................';
            position: absolute;
          }
        }

        td.usage {
          .lot {
            background-color: var(--mat-blue-gray-50);
            border: 3px dashed var(--mat-blue-gray-300);

            div {
              height: 2rem;
              width: 3rem;
            }

            .u11 /* Single family */ {
              background-color: rgba(var(--shade-u11), 0.5);
            }

            .u12 /* Multi family */ {
              background-color: rgba(var(--shade-u12), 0.5);
            }

            .u17 /* Manufacturing */ {
              background-color: rgba(var(--shade-u17), 0.5);
            }

            .u19 /* Improved residential */ {
              background-color: rgba(var(--shade-u19), 0.5);
            }

            .u22 /* Residential land */ {
              background-color: rgba(var(--shade-u22), 0.5);
            }

            .u26 /* Mixed use */ {
              background-color: rgba(var(--shade-u26), 0.5);
            }

            .u27 /* Unclassified */ {
              background-color: rgba(var(--shade-u27), 0.5);
            }

            .u33 /* Commercial */ {
              background-color: rgba(var(--shade-u33), 0.5);
            }

            .u58 /* Garage */ {
              background-color: rgba(var(--shade-u58), 0.5);
            }

            .u100 /* State Park */ {
              background-color: rgba(var(--shade-u100), 0.5);
            }

            .u101 /* Town Forest */ {
              background-color: rgba(var(--shade-u101), 1);
            }
          }
        }

        td.numeric {
          text-align: right;
        }

        thead td {
          font-weight: bold;
          text-transform: uppercase;
        }

        tr.total {
          td {
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  main {
    grid-area: map;

    .border-1 {
      border: 3px solid var(--mat-gray-600);
      margin: calc(var(--map-cyNominal) / 100) calc(var(--map-cxNominal) / 100);
    }

    .border-2 {
      background-color: var(--mat-brown-50);
      border: calc(var(--map-cyNominal) / 300) dashed var(--mat-gray-600);
    }

    .border-3 {
      background-color: white;
      border: 1px solid var(--mat-gray-600);
      padding: calc(var(--map-cyNominal) / 200) calc(var(--map-cxNominal) / 200);
    }

    .border-1.mapOnly,
    .border-2.mapOnly,
    .border-3.mapOnly {
      border: none;
      margin: 0;
      padding: 0;
    }

    section {
      display: block;
      height: calc(var(--map-clip-cy));
      overflow: hidden;
      position: relative;
      width: calc(var(--map-clip-cx));

      figure {
        cursor: normal;
        display: block;
        height: calc(var(--map-cyNominal));
        pointer-events: none;
        position: absolute;
        transform: translate(
          calc(var(--map-clip-x) * -1),
          calc(var(--map-clip-y) * -1)
        );
        width: calc(var(--map-cxNominal));

        map-boundary,
        map-clip,
        map-defs,
        map-grid,
        map-lot-labels,
        map-lots,
        map-paths,
        map-street,
        map-tiles,
        map-topo {
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
        }

        map-boundary,
        map-clip,
        map-grid,
        map-lot-labels,
        map-lots,
        map-paths {
          svg {
            height: 100%;
            width: 100%;
          }
        }

        map-boundary {
          g polygon {
            fill: none;
            stroke: var(--mat-gray-800);
            stroke-dasharray: 4;
            stroke-width: 3;
          }
        }

        map-grid {
          g path {
            fill: none;
            stroke: var(--mat-gray-800);
            stroke-width: 0.25;
          }
        }

        map-lot-labels {
          g {
            line {
              stroke: var(--mat-gray-600);
              stroke-dasharray: 1;
              stroke-width: 1;
            }

            text {
              fill: var(--mat-gray-800);
              font-family: 'Ubuntu', sans-serif;
            }

            text tspan.area {
              font-size: 0.8em;
            }

            text tspan.id {
              font-size: 1em;
              font-weight: bold;
            }
          }

          g.z15 {
            line.a0,
            line.a1 {
              display: none;
            }

            text.a0,
            text.a1 {
              display: none;
            }

            text.a2 {
              font-size: 9px;
            }

            text.a5 {
              font-size: 10px;
            }

            text.a10 {
              font-size: 11px;
            }

            text.a25 {
              font-size: 12px;
            }

            text.a50 {
              font-size: 16px;
            }

            text.a100 {
              font-size: 20px;
            }

            text.a500 {
              font-size: 24px;
            }

            text.a2 tspan.area {
              display: none;
            }
          }

          g.z17 {
            text.a0 {
              font-size: 12px;
            }

            text.a1 {
              font-size: 16px;
            }

            text.a2 {
              font-size: 20px;
            }

            text.a5 {
              font-size: 24px;
            }

            text.a10 {
              font-size: 28px;
            }

            text.a25 {
              font-size: 32px;
            }

            text.a50 {
              font-size: 40px;
            }

            text.a100 {
              font-size: 48px;
            }

            text.a500 {
              font-size: 56px;
            }

            text.a0 tspan.area {
              display: none;
            }
          }
        }

        map-lots {
          clip-path: url(#boundary);
          pointer-events: auto;

          g path.black {
            fill: none;
            stroke: var(--mat-blue-gray-300);
            stroke-width: 2;
          }

          g path.white {
            fill: none;
            stroke: var(--mat-blue-gray-50);
            stroke-dasharray: 1, 4;
            stroke-width: 2;
          }

          g.z15 path {
            stroke-width: 2;

            &.white.u11 /* Single family */ {
              fill: rgba(var(--shade-u11), 0.5);
            }

            &.white.u12 /* Multi family */ {
              fill: rgba(var(--shade-u12), 0.5);
            }

            &.white.u17 /* Manufacturing */ {
              fill: rgba(var(--shade-u17), 0.5);
            }

            &.white.u19 /* Improved residential */ {
              fill: rgba(var(--shade-u19), 0.5);
            }

            &.white.u22 /* Residential land */ {
              fill: rgba(var(--shade-u22), 0.5);
            }

            &.white.u26 /* Mixed use */ {
              fill: rgba(var(--shade-u26), 0.5);
            }

            &.white.u27 /* Unclassified */ {
              fill: rgba(var(--shade-u27), 0.5);
            }

            &.white.u33 /* Commercial */ {
              fill: rgba(var(--shade-u33), 0.5);
            }

            &.white.u58 /* Garage */ {
              fill: rgba(var(--shade-u58), 0.5);
            }

            &.white.u100 /* State Park */ {
              fill: rgba(var(--shade-u100), 0.5);
            }

            &.white.u101 /* Town Forest */ {
              fill: rgba(var(--shade-u101), 1);
            }
          }

          g.z17 path {
            stroke-width: 3;

            &.white.u11 /* Single family */ {
              fill: url(#halftone-u11);
            }

            &.white.u12 /* Multi family */ {
              fill: url(#halftone-u12);
            }

            &.white.u17 /* Manufacturing */ {
              fill: url(#halftone-u17);
            }

            &.white.u19 /* Improved residential */ {
              fill: url(#halftone-u19);
            }

            &.white.u22 /* Residential land */ {
              fill: url(#halftone-u22);
            }

            &.white.u26 /* Mixed use */ {
              fill: url(#halftone-u26);
            }

            &.white.u27 /* Unclassified */ {
              fill: url(#halftone-u27);
            }

            &.white.u33 /* Commercial */ {
              fill: url(#halftone-u33);
            }

            &.white.u58 /* Garage */ {
              fill: url(#halftone-u58);
            }

            &.white.u100 /* State Park */ {
              fill: url(#halftone-u100);
            }

            &.white.u101 /* Town Forest */ {
              fill: url(#halftone-u101);
            }
          }
        }

        map-paths {
          g path {
            fill: none;
            stroke: none;
          }
        }

        map-tile {
          display: inline-block;
          height: calc(var(--map-cyTile));
          position: relative;
          vertical-align: top;
          width: calc(var(--map-cxTile));

          canvas {
            height: var(--map-cyTile);
            position: absolute;
            visibility: hidden;
            width: var(--map-cxTile);
          }

          img {
            height: 100%;
            position: absolute;
            width: 100%;
          }

          img.inside {
            filter: none;
          }

          img.outside {
            filter: grayscale(1);
          }
        }
      }

      figcaption {
        display: block;
        height: 100%;
        pointer-events: none;
        position: absolute;
        width: 100%;

        footer {
          align-items: flex-end;
          color: var(--mat-gray-700);
          display: flex;
          font-family: 'Bentham Regular', sans-serif;
          font-size: 16px;
          height: 100%;
          justify-content: space-between;
          padding: 0 16px 8px 16px;
          position: absolute;
          width: 100%;
        }

        map-indices {
          font-family: 'Ubuntu', sans-serif;
          font-size: 64px;
          font-weight: bold;
          text-transform: uppercase;

          article {
            border: 5px solid rgba(var(--rgb-gray-500), 0.5);
            color: rgba(var(--rgb-gray-500), 0.5);
            display: grid;
            place-items: center;
            position: absolute;
          }
        }
      }
    }
  }
}
