@import 'colors.scss';

@font-face {
  font-family: 'Bentham Regular';
  font-style: normal;
  font-weight: 400;
  src: url('assets/Bentham-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Carnevalee Freakshow';
  font-style: normal;
  font-weight: 400;
  src: url('assets/Carnevalee Freakshow.ttf') format('truetype');
}

:root {
  // NOTE: this is set in root.ts
  --map-side-matter-cx: 0;
  // NOTE: these set in geometry.ts
  --map-clip-x: 0;
  --map-clip-y: 0;
  --map-clip-cx: 0;
  --map-clip-cy: 0;
  --map-cxNominal: 0;
  --map-cyNominal: 0;
  --map-cxTile: 0;
  --map-cyTile: 0;
  --map-numHGrids: 0;
  --map-numVGrids: 0;
  --map-numXTiles: 0;
  --map-numYTiles: 0;
  --map-scale: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

body {
  background-color: white;
  color: var(--mat-grey-900);
  display: grid;
  font-family: 'Bentham Regular', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  place-content: center;
  user-select: none;
  width: 100%;
}

html {
  border: 0;
  font-size: 14px;
  height: 100%;
  width: 100%;
}

map-root {
  background-color: white;
  display: grid;
  grid-template-areas:
    'map side-matter'
    'map side-matter';
  overflow: hidden;

  &.dragging {
    cursor: grabbing;
  }

  &.printing {
    cursor: wait;
    overflow: unset;
  }

  aside {
    grid-area: side-matter;
    padding: calc(var(--map-cyNominal) * var(--map-scale) / 100)
      calc(var(--map-cxNominal) * var(--map-scale) / 100);
    width: var(--map-side-matter-cx);

    map-legend {
      display: block;
      height: 100%;
      width: 100%;

      header {
        font-family: 'Carnevalee Freakshow', sans-serif;
        text-align: center;

        h1 {
          font-size: 4rem;
          font-weight: normal;
        }

        h2 {
          font-size: 2rem;
          font-weight: normal;
        }
      }
    }
  }

  main {
    grid-area: map;

    .border-1 {
      border: 3px solid var(--mat-gray-600);
      margin: calc(var(--map-cyNominal) * var(--map-scale) / 100)
        calc(var(--map-cxNominal) * var(--map-scale) / 100);
    }

    .border-2 {
      background-color: var(--mat-brown-50);
      border: calc(var(--map-cyNominal) * var(--map-scale) / 300) dashed
        var(--mat-gray-600);
    }

    .border-3 {
      background-color: white;
      border: 1px solid var(--mat-gray-600);
      padding: calc(var(--map-cyNominal) * var(--map-scale) / 200)
        calc(var(--map-cxNominal) * var(--map-scale) / 200);
    }

    section {
      display: block;
      height: calc(var(--map-clip-cy) * var(--map-scale));
      overflow: hidden;
      position: relative;
      width: calc(var(--map-clip-cx) * var(--map-scale));

      figure {
        cursor: normal;
        display: block;
        height: calc(var(--map-cyNominal) * var(--map-scale));
        position: absolute;
        transform: translate(
          calc(var(--map-clip-x) * var(--map-scale) * -1),
          calc(var(--map-clip-y) * var(--map-scale) * -1)
        );
        width: calc(var(--map-cxNominal) * var(--map-scale));

        map-boundary,
        map-grid,
        map-indices,
        map-parcels,
        map-street,
        map-topo {
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
        }

        map-boundary,
        map-grid,
        map-indices,
        map-parcels {
          svg {
            height: 100%;
            width: 100%;

            & > g {
              transform: scale(var(--map-scale), var(--map-scale));
            }
          }
        }

        map-boundary {
          g polygon {
            fill: none;
            stroke: var(--mat-gray-800);
            stroke-dasharray: 4;
            stroke-width: 3;
          }
        }

        map-grid {
          g path {
            fill: none;
            stroke: var(--mat-gray-800);
            stroke-width: 0.25;
          }
        }

        map-indices {
          g polygon {
            fill: none;
            stroke: var(--mat-gray-500);
            stroke-opacity: 0.5;
            stroke-width: 8;
          }
        }

        map-parcels {
          g path.black {
            fill: none;
            stroke: var(--mat-blue-grey-300);
            stroke-width: 1;
          }
          g path.white {
            fill: none;
            stroke: var(--mat-blue-grey-50);
            stroke-dasharray: 1, 2;
            stroke-width: 1;
          }
        }

        map-tile {
          display: inline-block;
          height: calc(var(--map-cyTile) * var(--map-scale));
          position: relative;
          vertical-align: top;
          width: calc(var(--map-cxTile) * var(--map-scale));

          canvas {
            height: var(--map-cyTile);
            position: absolute;
            visibility: hidden;
            width: var(--map-cxTile);
          }

          img {
            height: 100%;
            position: absolute;
            width: 100%;
          }

          img.inside {
            filter: none;
          }

          img.outside {
            filter: grayscale(1);
          }
        }
      }

      figcaption {
        align-items: flex-end;
        color: var(--mat-grey-700);
        display: flex;
        height: 100%;
        justify-content: space-between;
        padding: 0.25rem;
        position: absolute;
        width: 100%;
      }
    }
  }
}
