@import 'colors.scss';

@font-face {
  font-family: 'Bentham Regular';
  font-style: normal;
  font-weight: normal;
  src: url('assets/Bentham-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Carnevalee Freakshow';
  font-style: normal;
  font-weight: normal;
  src: url('assets/Carnevalee Freakshow.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand Light';
  font-style: normal;
  font-weight: 100;
  src: url('assets/quicksand.light-regular.otf') format('opentype');
}

:root {
  // NOTE: this is set in root.ts
  --map-side-matter-cx: 0;
  // NOTE: these set in geometry.ts
  --map-clip-x: 0;
  --map-clip-y: 0;
  --map-clip-cx: 0;
  --map-clip-cy: 0;
  --map-cxNominal: 0;
  --map-cyNominal: 0;
  --map-cxTile: 0;
  --map-cyTile: 0;
  --map-numHGrids: 0;
  --map-numVGrids: 0;
  --map-numXTiles: 0;
  --map-numYTiles: 0;
  --map-scale: 1;
  // land use color shading
  --shade-u11: var(--rgb-brown-300);
  --shade-u12: var(--rgb-brown-500);
  --shade-u17: var(--rgb-red-200);
  --shade-u19: var(--rgb-yellow-200);
  --shade-u22: var(--rgb-orange-200);
  --shade-u26: var(--rgb-purple-200);
  --shade-u27: var(--rgb-gray-300);
  --shade-u33: var(--rgb-blue-200);
  --shade-u58: var(--rgb-teal-200);
  --shade-u100: 190, 219, 75; // #BEDBAF
  --shade-u101: 170, 204, 155; // #aacc9b
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

body {
  background-color: white;
  display: grid;
  font-family: sans-serif;
  height: 100%;
  place-content: center;
  user-select: none;
  width: 100%;
}

html {
  border: 0;
  font-size: 14px;
  height: 100%;
  width: 100%;
}

map-root {
  background-color: white;
  display: grid;
  grid-template-areas:
    'map side-matter'
    'map side-matter';
  overflow: hidden;

  &.dragging {
    cursor: grabbing;
  }

  &.printing {
    cursor: wait;
    overflow: unset;
  }

  aside {
    grid-area: side-matter;
    padding: calc(var(--map-cyNominal) * var(--map-scale) / 100)
      calc(var(--map-cxNominal) * var(--map-scale) / 100);
    width: var(--map-side-matter-cx);

    map-legend {
      display: block;
      height: 100%;
      width: 100%;

      header {
        font-family: 'Carnevalee Freakshow', sans-serif;
        text-align: center;

        h1 {
          font-size: 4rem;
          font-weight: normal;
        }

        h2 {
          font-size: 2rem;
          font-weight: normal;
        }
      }
    }
  }

  main {
    grid-area: map;

    .border-1 {
      border: 3px solid var(--mat-gray-600);
      margin: calc(var(--map-cyNominal) * var(--map-scale) / 100)
        calc(var(--map-cxNominal) * var(--map-scale) / 100);
    }

    .border-2 {
      background-color: var(--mat-brown-50);
      border: calc(var(--map-cyNominal) * var(--map-scale) / 300) dashed
        var(--mat-gray-600);
    }

    .border-3 {
      background-color: white;
      border: 1px solid var(--mat-gray-600);
      padding: calc(var(--map-cyNominal) * var(--map-scale) / 200)
        calc(var(--map-cxNominal) * var(--map-scale) / 200);
    }

    section {
      display: block;
      height: calc(var(--map-clip-cy) * var(--map-scale));
      overflow: hidden;
      position: relative;
      width: calc(var(--map-clip-cx) * var(--map-scale));

      figure {
        cursor: normal;
        display: block;
        height: calc(var(--map-cyNominal) * var(--map-scale));
        position: absolute;
        transform: translate(
          calc(var(--map-clip-x) * var(--map-scale) * -1),
          calc(var(--map-clip-y) * var(--map-scale) * -1)
        );
        width: calc(var(--map-cxNominal) * var(--map-scale));

        map-boundary,
        map-clip,
        map-grid,
        map-labels,
        map-lots,
        map-street,
        map-tiles,
        map-topo {
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
        }

        map-boundary,
        map-clip,
        map-grid,
        map-labels,
        map-lots {
          svg {
            height: 100%;
            width: 100%;

            & > g {
              transform: scale(var(--map-scale), var(--map-scale));
            }
          }
        }

        map-boundary {
          g polygon {
            fill: none;
            stroke: var(--mat-gray-800);
            stroke-dasharray: 4;
            stroke-width: 3;
          }
        }

        map-grid {
          g path {
            fill: none;
            stroke: var(--mat-gray-800);
            stroke-width: 0.25;
          }
        }

        map-labels {
          g {
            text tspan {
              fill: rgba(var(--rgb-gray-900), 0.5);
              font-size: 10px;
            }

            text tspan.area {
              font-size: 0.8em;
              font-style: italic;
            }

            text tspan.a50,
            text tspan.a100 {
              font-size: 1.5em;
            }

            text tspan.a500 {
              font-size: 3em;
            }

            text tspan.a0.area,
            text tspan.a1.area {
              display: none;
            }

            text tspan.a50.area,
            text tspan.a100.area {
              font-size: 1em;
            }

            text tspan.a500.area {
              font-size: 2em;
            }
          }

          g.washington {
            text tspan.a0,
            text tspan.a1,
            text tspan.a2,
            text tspan.a5 {
              display: none;
            }
          }
        }

        map-lots {
          clip-path: url(#boundary);

          g path.black {
            fill: none;
            stroke: var(--mat-blue-gray-300);
            stroke-width: 2;
          }

          g path.white {
            fill: none;
            stroke: var(--mat-blue-gray-50);
            stroke-dasharray: 1, 4;
            stroke-width: 2;
          }

          // @see https://www.gismanual.com/style/ColorConventions.pdf

          g path.white.u11 /* Single family */ {
            fill: rgba(var(--shade-u11), 0.5);
          }

          g path.white.u12 /* Multi family */ {
            fill: rgba(var(--shade-u12), 0.5);
          }

          g path.white.u17 /* Manufacturing */ {
            fill: rgba(var(--shade-u17), 0.5);
          }

          g path.white.u19 /* Improved residential */ {
            fill: rgba(var(--shade-u19), 0.5);
          }

          g path.white.u22 /* Residential land */ {
            fill: rgba(var(--shade-u22), 0.5);
          }

          g path.white.u26 /* Mixed use */ {
            fill: rgba(var(--shade-u26), 0.5);
          }

          g path.white.u27 /* Unclassified */ {
            fill: rgba(var(--shade-u27), 0.5);
          }

          g path.white.u33 /* Commercial */ {
            fill: rgba(var(--shade-u33), 0.5);
          }

          g path.white.u58 /* Garage */ {
            fill: rgba(var(--shade-u58), 0.5);
          }

          g path.white.u100 /* State Park */ {
            fill: rgba(var(--shade-u100), 0.5);
          }

          g path.white.u101 /* Town Forest */ {
            fill: rgba(var(--shade-u101), 1);
          }
        }

        map-tile {
          display: inline-block;
          height: calc(var(--map-cyTile) * var(--map-scale));
          position: relative;
          vertical-align: top;
          width: calc(var(--map-cxTile) * var(--map-scale));

          canvas {
            height: var(--map-cyTile);
            position: absolute;
            visibility: hidden;
            width: var(--map-cxTile);
          }

          img {
            height: 100%;
            position: absolute;
            width: 100%;
          }

          img.inside {
            filter: none;
          }

          img.outside {
            filter: grayscale(1);
          }
        }
      }

      figcaption {
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;

        footer {
          align-items: flex-end;
          color: var(--mat-gray-700);
          display: flex;
          font-size: 1rem;
          height: 100%;
          justify-content: space-between;
          padding: 0.25rem;
          position: absolute;
          width: 100%;
        }

        map-indices {
          article {
            border: 5px solid rgba(var(--rgb-gray-500), 0.5);
            color: rgba(var(--rgb-gray-500), 0.5);
            display: grid;
            font-size: 4rem;
            font-weight: bold;
            place-items: center;
            position: absolute;
          }
        }
      }
    }
  }
}
